Mzl.Agent.Comm/bin/
Mzl.Agent.Comm/obj/

Mzl.AgentDotnetForBeginner/bin/
Mzl.AgentDotnetForBeginner/obj/
Mzl.AgentDotnetForBeginner/.vs/
Mzl.AgentDotnetForBeginner/*.user
Mzl.AgentDotnetForBeginner/*.suo
