<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Provider" value="ollama" />
		<add key="Url" value="http://localhost:11434" />
		<add key="Model" value="qwen3.6:35b" />
		<add key="ApiKey" value="" />

		<!--<add key="Provider" value="openai" />
		<add key="Url" value="https://api.openai.com/v1" />
		<add key="Model" value="gpt-4" />
		<add key="ApiKey" value="your-api-key" />-->
	</appSettings>
</configuration>